<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Routes</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Add a Route</h3>
                            </div>
                            <hr>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="routeName" name="routeName" type="text" class="form-control"
                                                placeholder="Route Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="sourceId" class=" form-control-label">Source Station
                                                            Name</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <select name="sourceId" id="sourceId" class="form-control"
                                                            required>
                                                            <option value="0">Please select</option>
                                                            <option value="1">Option #1</option>
                                                            <option value="2">Option #2</option>
                                                            <option value="3">Option #3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="destinationId"
                                                            class=" form-control-label">Destination Station
                                                            Name</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <select name="destinationId" id="destinationId"
                                                            class="form-control" required>
                                                            <option value="0">Please select</option>
                                                            <option value="1">Option #1</option>
                                                            <option value="2">Option #2</option>
                                                            <option value="3">Option #3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="scheduleId"
                                                            class=" form-control-label">Schedules</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <select name="scheduleId" id="scheduleId" class="form-control"
                                                            multiple size="3" required>
                                                            <option value="0">Please select</option>
                                                            <option value="1">Option #1</option>
                                                            <option value="2">Option #2</option>
                                                            <option value="3">Option #3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label for="trainId" class=" form-control-label">Trains</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <select name="trainId" id="trainId" class="form-control"
                                                            multiple size="3" required>
                                                            <option value="0">Please select</option>
                                                            <option value="1">Option #1</option>
                                                            <option value="2">Option #2</option>
                                                            <option value="3">Option #3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 1rem;">
                                        <div class="form-group">
                                            <input id="fare" name="fare" type="number" class="form-control"
                                                placeholder="Fare Price" required>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button id="payment-button" type="submit"
                                        class="btn btn-lg btn-info btn-block">ADD</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Data Table</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Timestamp</th>
                                    <th>Route Name</th>
                                    <th>Source Station</th>
                                    <th>Destination Station</th>
                                    <th>Fare Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2018-09-29 05:57</td>
                                    <td>Name</td>
                                    <td>Name</td>
                                    <td>Name</td>
                                    <td>Price</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
            <div class="row center">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2020 Nehal Parsekar. All rights reserved.</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>