<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1 p-2">States</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Add a State</h3>
                            </div>
                            <hr>
                            {{> messages}}
                            <form action="/admin/dashboard/states" method="POST">
                                <div class="form-group">
                                    <input id="stateName" name="stateName" type="text" class="form-control"
                                        placeholder="State Name" required>
                                </div>
                                <div>
                                    <button id="payment-button" type="submit"
                                        class="btn btn-lg btn-info btn-block">ADD</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1 p-2">Data Table</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Timestamp</th>
                                    <th>State Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data.states}}
                                <tr>
                                    <td>{{index}}</td>
                                    <td>{{createdAt}}</td>
                                    <td>{{stateName}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2020 Nehal Parsekar. All rights reserved.</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>